<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Tests" Description="" ToolsVersion="10.0">
  <Include Path="Default.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1062" Action="None" /> <!-- Validate arguments of public methods -->
    <Rule Id="CA1065" Action="None" /> <!-- Do not raise exceptions in unexpected locations -->
    <Rule Id="CA1707" Action="None" /> <!-- Identifiers should not contain underscores -->
    <Rule Id="CA1716" Action="None" /> <!-- Identifiers should not match keywords -->
    <Rule Id="CA1720" Action="None" /> <!-- Identifiers should not contain type names -->
    <Rule Id="CA1819" Action="None" /> <!-- Properties should not return arrays -->
    <Rule Id="CA2007" Action="None" /> <!-- Do not directly await a Task -->
    <Rule Id="CA2201" Action="None" /> <!-- Do not raise reserved exception types -->
  </Rules>
</RuleSet>
